* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    width: 100%;
    height: 210px;
    display: flex;
}

header .jyp-logo  {
    display: flex;
    align-items: center;
    padding-left: 50px;
}
header .jyp-logo img {
    width: 160px;
    height: 70px;
}
header .twice-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
header .twice-logo img {
    width: 150px;
    height: 150px;
}
/*------------로고--------------------*/

.member-items {
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 100%;
   margin: 77px auto;
}

.member-items .member {
    padding: 0px 30px;
    opacity: 0;
}
.member-items .member img {
    width: 150px;
    height: 790px;
    object-fit: cover;
}
/*------------멤버 이미지--------------*/

main {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 580vh; /*수정*/
    background:linear-gradient(#f9cc85,#49c0ec,#a3cc54,#e67ea3,#8c79ba,#71c7d4,#fefefe,#e62722,#2253a3)
}
main .left {
    position: relative;
    display: flex;
    margin-top: 100px;
    transform: translateX(-2000px);
    transition: all 1s ease-in-out;
}
main .left:nth-child(3),main .left:nth-child(5),main .left:nth-child(7),main .left:nth-child(9) {
    margin-top: 600px;
}
main .left.position {
    transform: translateX(0);
}
main .left .left-img img{
    width: 500px;
    height: 500px;
}
main .left .right-text {
    position: absolute;
    top: 0;
    right: 370px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #f9cc85;
    box-shadow: 5px 10px 25px #f9cc85,
                -10px 20px 25px #f9cc85;
}
main .left:nth-child(3) .right-text {
    border: 1px solid #a3cc54;
    box-shadow: 5px 10px 25px #a3cc54,
                -10px 20px 25px #a3cc54;
}
main .left:nth-child(5) .right-text {
    border: 1px solid #fefefe;
    box-shadow: 5px 10px 25px #fefefe,
                -10px 20px 25px #fefefe;
}
main .left:nth-child(7) .right-text {
    border: 1px solid #8c79b4;
    box-shadow: 5px 10px 25px #8c79b4,
                -10px 20px 25px #8c79b4;
}
main .left:nth-child(9) .right-text {
    border: 1px solid #2253a3;
    box-shadow: 5px 10px 25px #2253a3,
                -10px 20px 25px #2253a3;
}
main .left .right-text .text {
    display: flex;
    align-items: center;
    transition: 3s;
    border: 1px solid #ddd;
}
main .left .right-text .text h3 {
    background-color: #EC8585;
    width: 130px;
    height: 50px;
    font-size: 2rem;
    text-align: center;
    color: #fff;
}
main .left:nth-child(3) .right-text .text h3 {
    background-color: #a3cc54;
}
main .left:nth-child(5) .right-text .text h3 {
    background-color: #8c79b4;
}
main .left:nth-child(7) .right-text .text h3 {
    background-color: #fefefe;
}
main .left:nth-child(7) .right-text .text h3 {
    background-color: #2253a3;
}
main .left .right-text .text p {
    text-align: center;
    width: 500px;
    font-size: 1.2rem;
}
/*---------section left---------------*/

main .right {
    position: relative;
    display: flex;
    margin-top: 100px;
    transform: translateX(2500px);
    transition: all 1s ease-in-out;
}
main .right.position {
    transform: translateX(0);
}
main .right .right-img {
    position: absolute;
    top: 0;
    right: 0;
}
main .right .right-img img{
    width: 500px;
    height: 500px;
}
main .right .left-text {
    position: absolute;
    top: 0;
    left: 370px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #f9cc85;
    box-shadow: 5px 10px 25px #f9cc85,
                -10px 20px 25px #f9cc85;
}
main .right:nth-child(2) .left-text {
    border: 1px solid #49c0ec;
    box-shadow: 5px 10px 25px #49c0ec,
    -10px 20px 25px #49c0ec;
}
main .right:nth-child(4) .left-text {
    border: 1px solid #e67ea3;
    box-shadow: 5px 10px 25px #e67ea3,
    -10px 20px 25px #e67ea3;
}
main .right:nth-child(6) .left-text {
    border: 1px solid #71c7d4;
    box-shadow: 5px 10px 25px #71c7d4,
    -10px 20px 25px #71c7d4;
}
main .right:nth-child(8) .left-text {
    border: 1px solid #e62722;
    box-shadow: 5px 10px 25px #e62722,
    -10px 20px 25px #e62722;
}
main .right .left-text .text {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
}
main .right .left-text .text .text-hobby {
    display: flex;
    justify-content: center;
    height: 78px;
}
main .right .left-text .text h3 {
    background-color: #EC8585;
    width: 130px;
    height: 50px;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    color: #fff;
}
main .right:nth-child(2)  .left-text .text h3  {
    background-color: #49c0ec;
}
main .right:nth-child(4)  .left-text .text h3  {
    background-color: #e67ea3;
}
main .right:nth-child(6)  .left-text .text h3  {
    background-color: #71c7d4;
}
main .right:nth-child(8)  .left-text .text h3  {
    background-color: #e62722;
}
main .right .left-text .text p {
    text-align: center;
    width: 500px;
    font-size: 1.2rem;
}
/*---------section right---------------*/
